<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apitron.PDF.Controls" version="1.0.73.0" targetFramework="net452" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net452" />
  <package id="FreeSpire.PDF" version="3.2" targetFramework="net452" />
  <package id="MoonPdfLib-x86" version="0.3.0" targetFramework="net452" />
</packages>